<div
  class="cover container mx-auto h-[60vh] bg-cover bg-center bg-no-repeat px-10"
  style="background-image: url('/assets/images/bannerBg.png');"
>
  <div class="grid h-full grid-cols-1 content-center gap-4 ">
    <div>
      <p class="font-Yellowtail text-offGreen text-center md:text-start">100% natural food</p>
      <p class="w-full md:w-2/4 text-[40px] font-bold text-darkBlue text-center md:text-start my-3">
        Choose the best healthier way of life
      </p>
      <div class="flex justify-center md:justify-start" >
        <button class="rounded-md bg-[#EFD372] flex gap-3 p-4 text-sm text-darkBlue">
          Explore Now
          <svg
          width="19"
          height="19"
          viewBox="0 0 19 19"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="9.5" cy="9.5" r="9.5" fill="#335B6B" />
          <path
            d="M9.47641 6.12891L12.871 9.19342L9.47641 12.2579M12.3995 9.19342H5.51611"
            stroke="white"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        </button>
        
      </div>
    </div>
  </div>
</div>