<div class="container mx-auto">
  <button
  class="mr-1 mb-1 rounded bg-offGreen px-6 py-3 text-sm font-bold uppercase text-white outline-none ease-linear"
  type="button"
  onclick="toggleModal('modal-id')"
>
  Open modal
</button>
</div>
<div
  class="fixed inset-0 z-50 hidden  items-center justify-center outline-none h-[calc(100vh-36px)]"
  id="modal-id"
>
  <div class="relative my-6 mx-auto w-[95vw] md:w-[80vw] lg:w-[60vw]">
    <div
      class="relative flex w-full flex-col rounded-lg border-0 bg-white shadow-lg outline-none focus:outline-none"
    >
      <!-- HEADER -->
      <div
        class="flex items-start justify-between rounded-t border-b border-solid border-darkBlue p-5"
      >
        <h3 class="text-3xl font-semibold">Modal Title</h3>
      </div>
      <!-- BODY -->
      <div class="relative flex-auto p-6">
        <p
          class="my-2 h-[calc(100vh-20vh)] w-full overflow-y-auto text-lg leading-relaxed text-slate-500"
        >
          us ex excepturi veniam reiciendis mollitia accusantium, accusamus ea
          nihil neque porro perferendis libero aperiam amet animi ratione
          blanditiis. Unde, cumque excepturi. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Sequi, dolorum facere nemo doloribus
          fuga magni sed ipsum placeat facilis architecto, repellendus excepturi
          animi? Numquam optio vr repellendus
          us ex excepturi veniam reiciendis mollitia accusantium, accusamus ea
          nihil neque porro perferendis libero aperiam amet animi ratione
          blanditiis. Unde, cumque excepturi. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Sequi, dolorum facere nemo doloribus
          fuga magni sed ipsum placeat facilis architecto, repellendus excepturi
          animi? Numquam optio vr repellendus
          us ex excepturi veniam reiciendis mollitia accusantium, accusamus ea
          nihil neque porro perferendis libero aperiam amet animi ratione
          blanditiis. Unde, cumque excepturi. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Sequi, dolorum facere nemo doloribus
          fuga magni sed ipsum placeat facilis architecto, repellendus excepturi
          animi? Numquam optio vr repellendus
          us ex excepturi veniam reiciendis mollitia accusantium, accusamus ea
          nihil neque porro perferendis libero aperiam amet animi ratione
          blanditiis. Unde, cumque excepturi. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Sequi, dolorum facere nemo doloribus
          fuga magni sed ipsum placeat facilis architecto, repellendus excepturi
          animi? Numquam optio vr repellendus
         .
        </p>
      </div>
      <!-- FOOTER -->
      <div
        class="flex items-center justify-end border-t border-solid border-darkBlue p-6"
      >
        <button
          class="background-transparent mr-1 mb-1 px-6 py-2 text-sm font-bold uppercase outline-none"
          type="button"
          onclick="toggleModal('modal-id')"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="fixed inset-0 z-40 hidden backdrop-blur-sm"
  id="modal-id-bgLayout"
></div>

<!-- SCRIPTS -->
<script type="text/javascript">
  function toggleModal(modalID) {
    document.getElementById(modalID).classList.toggle('hidden');

    document.getElementById(modalID + '-bgLayout').classList.toggle('hidden');

    document.getElementById(modalID).classList.toggle('flex');

    document.getElementById(modalID + '-bgLayout').classList.toggle('flex');
  }
</script>
