<button
  class="mr-1 mb-1 rounded bg-offGreen px-6 py-3 text-sm font-bold uppercase text-white outline-none ease-linear"
  type="button"
  onclick="toggleModal('modal-id')"
>
  Open modal
</button>
<div
  class="fixed inset-0 z-50 hidden items-center justify-center   outline-none"
  id="modal-id"
>
  <div class="relative my-6 mx-auto w-[95vw] md:w-[80vw] lg:w-[60vw]">
    <div
      class="relative flex w-full flex-col rounded-lg border-0 bg-white shadow-lg outline-none focus:outline-none"
    >
      <!-- HEADER -->
      <div
        class="flex items-start justify-between rounded-t border-b border-solid border-darkBlue p-5"
      >
        <h3 class="text-3xl font-semibold">Modal Title</h3>
      </div>
      <!-- BODY -->
      <div class="relative flex-auto p-6">
        <p class="my-2 text-lg leading-relaxed text-slate-500 overflow-y-auto h-[280px] w-full">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad totam
          aliquam dolorum iste, quod, maxime porro, est nihil quia sint
          corporis. Eaque veritatis reprehenderit beatae quisquam laudantium
          commodi molestias quia assumenda culpa sunt voluptatum, architecto ab
          voluptates aperiam quam sed optio ad. Optio similique nisi dolore
          omnis dolorem quisquam possimus quidem expedita ad distinctio?
          Suscipit voluptate voluptates officiis officia non neque tenetur harum
          exercitationem, vero dolor, eum adipisci quod beatae qui provident,
          voluptatum sunt temporibus? Cupiditate nesciunt voluptatum quis quo
          molestiae asperiores vitae sit nobis omnis libero id sed, a voluptatem
          fugit velit sequi. Nihil quae laborum aperiam tempore? Rerum officia
          autem unde molestias blanditiis animi nihil debitis repellendus, quasi
          veniam sed obcaecati, eaque explicabo reiciendis. Voluptatem eaque
          ipsum non optio praesentium a placeat architecto, aliquid, est aperiam
          at! Iure, ratione repellendus ex eaque rerum illo ducimus fugiat
          nostrum atque expedita nesciunt corporis pariatur eum soluta in enim.
          Culpa illo, itaque laborum aliquid eum laudantium eos iusto totam
          labore cupiditate sapiente numquam veritatis ut corporis? Consequuntur
          sequi repudiandae ea ducimus necessitatibus reprehenderit reiciendis,
          perferendis totam consequatur veniam beatae tempora? Dolor, quas
          ratione adipisci velit tempora quibusdam, beatae enim sequi iure
          reiciendis deleniti nulla, quae magnam? Doloremque quos recusandae
          tempora eum. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Id vero dolore ipsa ex, explicabo repellat minus voluptatibus porro.
          Placeat, numquam enim ad cumque aspernatur voluptatum doloribus
          consectetur repudiandae atque quam dicta voluptatem accusantium
          deleniti asperiores cum beatae magnam, laboriosam odio sapiente magni
          minima similique iure quasi excepturi? Obcaecati nostrum eius natus
          delectus deleniti facere culpa provident nisi cumque distinctio in
          illum mollitia nobis quia ipsum ab eos ducimus reiciendis, inventore
          explicabo vero voluptate eaque expedita corrupti. Aliquid tenetur ea
          aspernatur omnis temporibus quidem ipsum repellat, totam dignissimos
          quos adipisci impedit expedita. Eaque libero neque dicta perferendis
          expedita minus aliquam quis porro sed repellendus tempore numquam
          blanditiis omnis est, quisquam, possimus alias accusantium,
          praesentium ipsum maxime quam. Ut itaque illum veniam laborum.
          Corporis eos ipsam, deserunt at, quisquam et facere quis incidunt
          eveniet praesentium fuga? Consequatur fugit, dolores commodi quo totam
          illo alias repellat id iusto reiciendis qui odio nihil quod blanditiis
          doloribus distinctio aliquid, sequi velit, voluptatem possimus eveniet
          neque? Reprehenderit deserunt assumenda tenetur at natus praesentium
          nemo culpa, doloremque delectus, veritatis cupiditate est nam
          blanditiis repudiandae sit rerum alias minima inventore mollitia?
          Eveniet et rerum, vitae quo asperiores delectus! Eligendi libero
          molestiae beatae porro maiores deleniti. Cupiditate excepturi nihil
          iste pariatur voluptatem reprehenderit quasi ut, earum commodi quis
          veniam. Impedit cum dolorum molestias rem excepturi optio blanditiis
          recusandae molestiae, voluptates est iste nobis dolor quibusdam non
          expedita minus eveniet quis tempora maxime, ullam voluptatem! Ab
          perspiciatis, incidunt ipsa qui impedit, dolorem eligendi magni
          laboriosam dolores excepturi laborum, animi quos veritatis. Cum,
          aperiam. Sed libero inventore velit provident similique, non
          laudantium rerum, nam minus, quibusdam reprehenderit? Ad, facere quia?
          Voluptates quos, autem repellat natus, rem vel voluptas molestias eius
          ex excepturi veniam reiciendis mollitia accusantium, accusamus ea
          nihil neque porro perferendis libero aperiam amet animi ratione
          blanditiis. Unde, cumque excepturi.
        </p>
      </div>
      <!-- FOOTER -->
      <div
        class="flex items-center justify-end border-t border-solid border-darkBlue p-6"
      >
        <button
          class="background-transparent mr-1 mb-1 px-6 py-2 text-sm font-bold uppercase outline-none"
          type="button"
          onclick="toggleModal('modal-id')"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="fixed inset-0 z-40 hidden backdrop-blur-sm"
  id="modal-id-bgLayout"
></div>

<!-- SCRIPTS -->
<script type="text/javascript">
  function toggleModal(modalID) {
    document.getElementById(modalID).classList.toggle('hidden');

    document.getElementById(modalID + '-bgLayout').classList.toggle('hidden');

    document.getElementById(modalID).classList.toggle('flex');

    document.getElementById(modalID + '-bgLayout').classList.toggle('flex');
  }
</script>
