<div class="container mx-auto py-20">
  <div>
    <div class=" grid grid-cols-1 gap-5 md:grid-cols-3">
      <div
        class="flex h-[400px] max-w-[400px] items-center justify-center bg-cover bg-center bg-no-repeat"
        style="background-image: url('/assets/images/juice.png')"
      >
        <p
          class="inline-block rounded-md bg-white p-5 font-semibold text-darkBlue transition  ease-in-out hover:bg-darkBlue hover:text-white"
        >
          Organic Juice
        </p>
      </div>
      <div
        class="flex h-[400px] max-w-[400px] items-center justify-center bg-cover bg-no-repeat"
        style="background-image: url('/assets/images/food.png')"
      >
        <p
          class="inline-block rounded-md bg-white p-5 font-semibold text-darkBlue transition ease-in-out hover:bg-darkBlue hover:text-white"
        >
          Organic Foods
        </p>
      </div>
      <div
        class="flex h-[400px] max-w-[400px] items-center justify-center bg-cover bg-no-repeat"
        style="background-image: url('/assets/images/cookies.png')"
      >
        <p
          class="inline-block rounded-md bg-white p-5 font-semibold text-darkBlue transition ease-in-out hover:bg-darkBlue hover:text-white"
        >
          Nuts Cookies
        </p>
      </div>
    </div>
  </div>
</div>