---
layout: 'layouts/base.njk'
---
{# {% import "macro/banner.html" as banner %}
{{ banner.showBanner('/assets/images/bannerBg.png','Home','My home page sffubtitle') }}

{% import "macro/products.html" as product %}
{{ product.showProduct('/assets/images/fruits.png', '/assets/images/vegetable.png','Home','My home page sffubtitle') }}

{% import "macro/belief.html" as belief %}
{{ belief.showBelief('/assets/images/flowers.png') }}

{% import "macro/categories.html" as categories %}
{{ categories.showCategories('/assets/images/broccoli.png') }}

{% import "macro/testimonial.html" as testimonial %}
{{ testimonial.showTestimonial('/assets/images/broccoli.png') }} #}

{% include 'partials/index/hero.html' %}
{% include 'partials/index/products.html' %}
{% include 'partials/index/belief.html' %}
{% include 'partials/index/categories.njk' %}
{% include 'partials/index/testimonial.html' %}
{% include 'partials/index/offer.njk' %}
{% include 'partials/index/ecofriendly.html' %}
{% include 'partials/index/organicItems.html' %}
{% include 'partials/index/blogs.html' %}
{# {% include 'partials/index/testSIdenav.html' %} #}





