---
layout: 'layouts/base.njk'
---
{% import "macro/banner.html" as banner %}
{{ banner.showBanner('/assets/images/logo/logocccul.png','About','My about page subtitle') }}
<div class="container mx-auto">
{% include 'partials/about/about-content.html' %}
</div>








