<div class="bg-transparent">
  <div class="container mx-auto flex justify-between p-5">
    <div>
      <img src="../../assets/images/logo/Logo.png" alt="dd" />
    </div>
    <div class="hidden md:block">
      <ul class="flex h-16 items-center gap-6">
        <!-- <li> <img src="../../assets/images/logo/Logo.png" alt="dd" > </li> -->
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Pages</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Project</a></li>
        <li><a href="#">News</a></li>
      </ul>
    </div>
    <div class="flex justify-end">
      <div class="flex gap-2 justify-end">
        <input
          type="text"
          placeholder="search..."
          class="rounded-[20px] border-0 bg-transparent outline-0"
        />
        <div class="grid h-full grid-cols-1 content-center">
          <img
          src="../../assets/images/Search Icon.png"
          class="h-10 w-10 py-auto"
          alt="dd"
        />
        </div>
      </div>

    </div>
 
  </div>
</div>
