<div class="container mx-auto py-20">
  <div
    class="h-[30vh] rounded-3xl mx-auto bg-cover bg-no-repeat py-10"
    style="background-image: url('/assets/images/newsletterBg.png')"
  >
    <div class="grid h-full grid-cols-1 content-center gap-5 md:grid-cols-2 py-10">
      <div class="mx-auto">
        <p class="px-5 text-3xl font-bold text-center  md:text-start text-white">
          Subscribe to <br />our Newsletter
        </p>
      </div>
      <div class="grid grid-cols-1 content-center mx-auto">
        <form action="#">
          <input type="text" class="bg-white border-0 rounded-md outline-none" />
          <button
            type="submit"
            class="rounded-md bg-darkBlue p-3 text-sm font-semibold text-white"
          >
            Subscribe
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
