{% macro showProduct( backgroundImage1="", backgroundImage2="", bannerTitle="", bannerSubtitle="" ) %}
<div class="px-10 py-10 ">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
    <div
      class="cover container h-[300px] max-w-[500px] rounded-lg bg-cover bg-center bg-no-repeat px-10  mx-auto  "
      style="background-image: url({{backgroundImage1}});"
    >
      <div class="grid h-full grid-cols-1 content-center">
        <p class="font-SourceCodePro text-3xl text-white">Natural</p>
        <p class="text-4xl font-bold text-white">
          Get Garden <br />
          Fresh Fruits
        </p>
      </div>
    </div>

    <div
      class="cover container h-[300px] max-w-[500px] rounded-lg bg-cover bg-center bg-no-repeat px-10  mx-auto shadow-sm"
      style="background-image: url({{backgroundImage2}});"
    >
      <div class="grid h-full grid-cols-1 content-center">
        <p class="font-SourceCodePro text-3xl text-[#7EB693]">Offer!!</p>
        <p class="text-4xl font-bold text-[#274C5B]">
          Get 10% off<br />
          on vegetable
        </p>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
